[user]
email = marozas.julius@gmail.com
name = Julius Marozas

[alias]
tree = log --graph --decorate --pretty=oneline --abbrev-commit
dft = difftool

[commit]
gpgsign = true

[pull]
ff = only

[merge]
conflictstyle = diff3

[rebase]
autostash = true

[submodule]
recurse = true

[credential]
helper = libsecret

[color]
ui = auto

[core]
autocrlf = input

[pager]
difftool = true

[diff]
tool = difftastic

[difftool]
prompt = false

[difftool "difftastic"]
cmd = difft "$LOCAL" "$REMOTE"

[interactive]
diffFilter = delta --color-only

[delta]
features = side-by-side line-numbers decorations
whitespace-error-style = 22 reverse

[delta "decorations"]
commit-decoration-style = bold yellow box ul
file-style = bold yellow ul
file-decoration-style = none

[filter "lfs"]
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f

[init]
defaultBranch = main

[github]
user = jul1u5
