@define-color blue #4969F6;
@define-color blue_dark #142139;

@define-color green #48D597;
@define-color green_dark #14312B;

@define-color yellow #F5CF65;
@define-color yellow_dark #2E3024;

@define-color red #E86886;
@define-color red_dark #2C2128;


@define-color bg_color #0B1418;

@define-color text_color #ffffff;
@define-color text_bg_color #969A9C;

@define-color accent_color @green;
@define-color accent_bg_color @green_dark;

@define-color warning_color @yellow;
@define-color warning_bg_color @yellow_dark;

@define-color danger_color @red;
@define-color danger_bg_color @red_dark;


* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#waybar {
  background: @bg_color;
  color: @text_color;
  font-size: 12px;
}

#workspaces button {
  padding: 0 4px;
  background: transparent;
  color: @text_color;
}

#workspaces button.focused {
  background: @accent_bg_color;
  color: @accent_color;
  border-bottom: 2px solid @accent_color;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#idle_inhibitor,
#language,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#scratchpad,
#tray {
  color: @text_bg_color;
  padding: 0 10px;
}

#clock {
  color: @text_color;
}

#pulseaudio.muted:not(.mic) {
  background-color: @warning_bg_color;
  color: @warning_color;
  border-bottom: 2px solid @warning_color;
}

#pulseaudio.mic,
#idle_inhibitor {
  min-width: 16px;
  color: @text_color;
}

#pulseaudio.mic.source-muted {
  background-color: @danger_bg_color;
  color: @danger_color;
  border-bottom: 2px solid @danger_color;
}

#idle_inhibitor.activated {
  background-color: @blue_dark;
  color: @blue;
  border-bottom: 2px solid @blue;
}

#battery.discharging {
  background-color: @warning_bg_color;
  color: @warning_color;
}

#battery.charging {
  background-color: @green_dark;
  color: @green;
}

#battery.warning:not(.charging) {
  background-color: @warning_color;
  color: @warning_bg_color;
}

#battery.critical:not(.charging) {
  background-color: @danger_color;
  color: @danger_bg_color;
}

